.feedback {
  background-color: var(--background-color);
  position: relative;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  height: 540px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 490px) {
  .feedback {
    height: 430px;
  }
}

@media (max-width: 490px) {
  .feedback .lamar-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.feedback div {
  height: 100% !important;
}

.feedback .slide-container {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}
.feedback .slide-container img {
  /* transform: scale(0.5); */
}
