.products {
  padding-bottom: var(--main-padding-bottom);
  padding-top: var(--main-padding-top);
  background-color: var(--main-color-alt);
  position: relative;
 border-top: black dashed 5px;
}
.products .custom-shape-divider-top-1638712956 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.products .custom-shape-divider-top-1638712956 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
}

.products .custom-shape-divider-top-1638712956 .shape-fill {
  fill: rgba(0, 0, 0, 0.89);
}

/* start Slider styling */

.multi-slider .lamar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


.multi-slider .flicking-camera{
 margin-left: 147px;
}
@media(max-width:530px){
  .multi-slider .flicking-camera{
    margin-left: 0;
   }
}
.multi-slider .box {
  width: 250px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  background-color: var(--main-color-alt2);
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.multi-slider .box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 2px 12px rgb(0 0 0 / 40%);
  cursor: pointer;
}
.multi-slider .box .slide-img {
  height: 340px;
  background-color: var(--main-color-alt);
  position: relative;
  cursor: grab;
}
.multi-slider .box .slide-img img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  cursor: grab;
}
.multi-slider .box .slide-img .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.450);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: grab;
}
.multi-slider .box .overlay .buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgb(0, 0, 0, 0.2);
  color: black;
  background-color: var(--main-color-alt2);
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}
.multi-slider .box .overlay .buy-btn:hover {
  color: black;
  background-color: var(--main-color-alt);
  transition: all ease 0.3s;
}
.multi-slider .box .slide-img .overlay {
  visibility: hidden;
}
.multi-slider .box .slide-img:hover .overlay {
  visibility: visible;
  animation: overlay 0.5s;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.multi-slider .details {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: grab;
}
.multi-slider .details .type {
  display: flex;
  flex-direction: column;
}
.multi-slider .details .type a {
  color: #222222;
  padding: 8px;
  margin: 5px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.multi-slider .details .type span {
  color: rgb(26, 26, 26, 0.5);
}
.multi-slider .details .price {
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

/* End Slider styling */
